@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(#F5EEFF, #DAC3F8);
}
#root {
  width: 100%;
}
.weather {
  position: relative;
  margin: 0 auto;

  
  border-radius: 10px;
  background: linear-gradient(#352163, #33143C);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
